#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_clean:
	rm -rf debian/build

override_dh_auto_configure:
	mkdir -p debian/build
	cd debian/build && meson --prefix=/usr ../..
	mkdir -p src pkg && mkdir -p src/github.com/mubitosh/qrshare
	mv *.go src/github.com/mubitosh/qrshare/
	mv vendor src/github.com/mubitosh/qrshare/
	mv Gopkg.* src/github.com/mubitosh/qrshare/
	wget https://storage.googleapis.com/golang/go1.9.linux-amd64.tar.gz
	tar -C . -xzf go1.9.linux-amd64.tar.gz
	export PATH=${PWD}/go/bin:${PATH} && export GOPATH=${PWD} && \
	go get -u github.com/golang/dep/cmd/dep
	export PATH=${PWD}/go/bin:${GOPATH}/bin:${PATH} && export GOPATH=${PWD} && \
	cd src/github.com/mubitosh/qrshare && dep ensure

override_dh_auto_build:
	cd debian/build && ninja -v
	export PATH=${PWD}/go/bin:${PATH} && export GOPATH=${PWD} && cd src/github.com/mubitosh/qrshare && \
	go build -v -ldflags="-s -w" -i -o com.github.mubitosh.qrshare -tags gtk_3_18
	mv src/github.com/mubitosh/qrshare/com.github.mubitosh.qrshare bin/com.github.mubitosh.qrshare

	
override_dh_auto_test:
	cd debian/build && ninja test

override_dh_auto_install:
	cd debian/build && DESTDIR=${CURDIR}/debian/com.github.mubitosh.qrshare ninja install
